{% extends "layout.html" %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
{% endblock %}

{% block header %}
    <div class="login">
    {% if session %}
        <h2 class="login_info">{{session.userinfo.name}}</h2>
        <img class="login_info" src="{{ session['userinfo']['picture'] }}" alt="User Google Profile Picture" >
        {% if session.userinfo.name == 'Guest' %}
            <p class="login_info"><a class="logButton" href="/login">Login</a></p>
        
        {% else %}
            <p class="login_info" class="logout_button"><a class="logButton" href="/logout">Logout</a></p>
        {% endif %}
    {% else %}
        <h2 class="login_info">Welcome Guest</h1>
        <p class="login_info"><a class="logButton" href="/login">Login</a></p>
    {% endif %}
    </div>

    <h1>Coin Canvas</h1>
{% endblock %}

{% block body %}

{% if session.userinfo.name == 'Guest' %}
            <p class="guestWarning">You are currently logged in as a Guest.</p>
            <p class="guestWarning">Please note that as a guest, you will only be able to view a few pre-selected charts and will be unable to query the api manually.</p>

    {% else %}
    <form method="post" action="/api">
        <input type="text" name="query" autofocus autocomplete="off" placeholder="Search for a Coin or Stock (e.g. BTC)">
        <input type="radio" name="type" value="Stock" required> Stock
        <input type="radio" name="type" value="Crypto" required> Crypto
        <input type="submit">
    </form>

    <p> For the benefit of your fellow users, please try to keep your concurrent maximum charts at 5 or below so as not to surpass the API limit with a block of requests when the cache resets. Thank You.</p>

{% endif %}
{% if errortext %}

    <div><h2>{{errortext}}</h2></div>

{% endif %}

{% if graphs %}

<div class="timeframeBox">
    <form action="/" method="get">
        <input type="submit" value="3" name="timeframe">Days
        <input type="submit" value="7" name="timeframe">Days
        <input type="submit" value="14" name="timeframe">Days
        <input type="submit" value="30" name="timeframe">Days
        <input type="submit" value="60" name="timeframe">Days
        <input type="submit" value="90" name="timeframe">Days
        <input type="submit" value="100" name="timeframe">Days
    </form>
</div>

<div class="graphBox">
{% for graph in graphs %}

<div class="graph">
<canvas id="lineChart{{ graphs.index(graph) }}" width="900" height="400"></canvas>
<script>
    var ctx = document.getElementById("lineChart{{ graphs.index(graph) }}").getContext('2d')
    var lineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ graph[0] | safe }},
            datasets: [
                {
                    label: "{{ queries[graphs.index(graph)][0] }} Closing Price on Date",
                    data: {{ graph[1] | safe }},
                    fill: false,
                    borderColor: 'rgb(255,215,0)',
                    lineTension: 0.1
                }
            ]
        },
        options: {
            responsive: true
        }
    });
    Chart.defaults.global.defaultFontColor = "#e0e0e0";
</script>
<form action="/delete" method="post">
    <input type="submit" name="delete" value="{{ queries[graphs.index(graph)][0] }}">Delete
</div>
{% endfor %}

</div>

{% endif %}

{% endblock %}