{% extends "layout.html" %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
{% endblock %}

{% block header %}
    <div class="login">
    {% if session %}
        <h2 class="login_info">{{session.userinfo.name}}</h2>
        <img class="login_info" src="{{ session['userinfo']['picture'] }}" alt="User Google Profile Picture" >
        <p class="login_info" class="logout_button"><a href="/logout">Logout</a></p>
    {% else %}
        <h2 class="login_info">Welcome Guest</h1>
        <p class="login_info"><a href="/login">Login</a></p>
    {% endif %}
    </div>

    <h1>Coin Canvas</h1>
{% endblock %}

{% block body %}

    <form method="post" action="/api">
        <input type="text" name="query" autofocus autocomplete="off" placeholder="Search for a Coin or Stock (e.g. BTC)">
        <input type="radio" name="type" value="Stock" required> Stock
        <input type="radio" name="type" value="Crypto" required> Crypto
        <input type="submit">
    </form>

{% if errortext %}

    <div>{{errortext}}</div>

{% endif %}

{% if data %}

    {{ data }}

{% endif %}

{% endblock %}