{% extends "layout.html" %}

{% block header %}

    {% if session %}
        <h2>{{session.userinfo.name}}</h2>
        <img src="{{ session['userinfo']['picture'] }}" alt="">
        <p><a href="/logout">Logout</a></p>
    {% else %}
        <h1>Welcome Guest</h1>
        <p><a href="/login">Login</a></p>
    {% endif %}

{% endblock %}

{% block body %}

    <form method="post" action="/api">
        <input type="text" name="query" autofocus autocomplete="off" placeholder="Search for a Coin or Stock (e.g. BTC)">
        <input type="radio" name="type" value="Stock"> Stock
        <input type="radio" name="type" value="Crypto"> Crypto
        <input type="submit">
    </form>

{% if errortext %}

    <div>{{errortext}}</div>

{% endif %}

{% if data %}

    {{ data }}

{% endif %}

{% endblock %}