<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1" width="device-width">
        <title>Coin Canvas</title>
        <link rel="stylesheet" href="../static/base.css">
        <link rel="icon" href="../static/favicon.png" type="image/x-icon">
        {% block head %}{% endblock %}
    </head>
    <header>
        {% block header %}{% endblock %}
    </header>
    <body>
        {% block body %}{% endblock %}
    </body>
    <footer>
        <div>
            <br>Find me on <a class="creditFooter" href="https://github.com/JamesBrooks01">GitHub</a>
        </div>
        <div>
            <br>Data provided by <a class="creditFooter" href="https://polygon.io">Polygon.io</a>
            </div>
        <br>© 2024

    </footer>
</html>